.h1{
    font-size: 10px!important;
}

#blob{
    background: url(./blob/blob.svg);
 background-size:750px!important;
 background-repeat: no-repeat;
 background-position: center;
height: 500px!important;
color: antiquewhite!important;
}

#jokess{
text-align: end;
margin: auto;
}

